/* Resetear los estilos predeterminados */
body, ul {
    margin: 0;
    padding: 0;


}

.menu img{
    width: 950px;
    right: 950px;
}
.menu ul {
    list-style-type: none; 
    padding: 0;

}

.menu ul li {
    display: inline; 
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none; 
    font-size: 28px; 
    font-weight: bold; 
}
.container mt-5{
    color: aliceblue;
}

